body {
  font-family: 'Lato', sans-serif;
  background-color: black;
  color: #f1f1f1;
  font-size: 1em;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0 1);
  /* background-image: image(pictures/title.jpg); */
}

.overlay-content {
  position: relative;
  top: 25%;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  margin-top: 30px;
  color: #f1f1f1;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.overlayText {
  font-size: 1.5em;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.container-fluid {
  border: 0.5em solid black;
}

.interface {
  background-color: indigo;
}

.terminal {
  text-align: center;
  font-size: 1.25em;
}

#output {
  text-align: right;
  font-size: 1.75em;
}

#pic-row {
  /* border:1px solid indigo; */
}

#pic {
  width: 100%;
  /*  max-width: 100vh!important;*/
  height: auto;
  max-height: 75vh !important;
}

/* textarea {
    overflow-y: scroll;
    height: 100px;
    resize: none;
  } */
